SUP BITHCES
Work hard play hard.

SIMONS AREA, DONT TOUCH

In [1]:
import ipywidgets as widgets
import pandas as pd

In [2]:
#Here we enter number of fileds we have
while True:
    try:
        n = int(input("Please enter the number of different fields you have: "))
        break
    except ValueError:
         print("Please input an actual number")

#Here we name the fields
a = 0
list_farmnames = []
while a < n:
    a = a + 1
    aux_field = input("Enter the name of the field: ")
    list_farmnames.append(aux_field)

#Now we create the empty datasets
dates = pd.date_range(start='20180301', end='20180331', freq='D', name='Number of Days')
column3 = []
column2 = []
column1 = [] 


for i in range(31):
    column1.append(0)
    column2.append(0)
    column3.append(0)

#Here we create the dataframes and set index and name columns etc.
    
for i in list_farmnames:    
    d = {'Grazing': column1, 'Cutting': column2, "Manure": column3, "Dates": dates}
    df = pd.DataFrame(data=d)
    exec('{} = pd.DataFrame(data=d)'.format(i))

list_farms = []
for i in list_farmnames:
    exec("list_farms.append({})".format(i))   

for x in list_farms:
    x.set_index(['Dates'], inplace=True)

Please enter the number of different fields you have: q
Please input an actual number
Please enter the number of different fields you have: w
Please input an actual number
Please enter the number of different fields you have: 2
Enter the name of the field: q
Enter the name of the field: w

In [6]:
q.head()

            Grazing  Cutting  Manure
Dates
2018-03-01        0        0       0
2018-03-02        0        1       0
2018-03-03        0        0       0
2018-03-04        0        0       0
2018-03-05        0        0       0

In [14]:
#Now you will have the possibility to input values. Choose a field, action and a date.
q.iat["2018-03-04","Cutting"]=0
w.iat[1,1]=0

ValueError: iAt based indexing can only have integer indexers

In [20]:
#does not support Safari according to the guide. Be aware.
#This gives us the posibility to pick a date in the correct format
picked_date = widgets.DatePicker( 
    description='Pick a Date',
    disabled=False
)
picked_date

DatePicker(value=None, description='Pick a Date')

In [21]:
print(picked_date.value) #add .value to get the date this can the be used to access the dataframe given that we...
#make a dictionary in which the first date is 0 second 1 etc. 
dict = {"2018-03-01":0,"2018-03-02":1,"2018-03-03":2}

2019-03-04

In [32]:
###Simon this will do the same thing as what you were trying to do, without having to create a dictionary, 
###trying to figure out a way to get it to work with the picked_date widget
inputdate = input("Enter the date you wish to change in the year-month-day format (ex: 2018-03-01): ")
inputaction = input("Enter the action corresponding to the cell you wish to change (ex: Grazing): ")
inputchange = input("Enter what you wish to change the contents of the cell to: ")
q.loc[inputdate,inputaction]=inputchange
q.head()

Enter the date you wish to change in the year-month-day format (ex: 2018-03-01): 2018-03-02
Enter the action corresponding to the cell you wish to change (ex: Grazing): Cutting
Enter what you wish to change the contents of the cell to: 3

            Grazing Cutting  Manure
Dates
2018-03-01      0.0       1     1.0
2018-03-02      0.0       3     0.0
2018-03-03      0.0       1     0.0
2018-03-04      0.0       0     1.0
2018-03-05      0.0       0     0.0

SAM's AREA, DO NOT TOUCH IF YOU WANT TO KEEP YOUR LIFE

In [3]:
import pandas as pd

df = pd.DataFrame(columns=["Number of Cows", "Grazing Start Time", "Grazing End Time"])
fields = int(input("Enter the number of fields: "))

for _ in range(1, fields+1):
    dp = input("Enter number of cows in field {}: ".format(_))
    st = input("Enter grazing start time for field {}: ".format(_))
    et = input("Enter grazing end time for field {}: ".format(_))
    df1 = pd.DataFrame(data=[[dp,st,et]],columns=["Number of Cows", "Grazing Start Time", "Grazing End Time"])
    df = pd.concat([df,df1], axis=0)

df.index = range(len(df.index))
print (df)

Enter the number of fields: 2
Enter number of cows in field 1: q
Enter grazing start time for field 1: e
Enter grazing end time for field 1: 3
Enter number of cows in field 2: 3
Enter grazing start time for field 2: 2
Enter grazing end time for field 2: 1
  Number of Cows Grazing Start Time Grazing End Time
0              q                  e                3
1              3                  2                1

In [4]:
import pandas as pd

while True:
    try:
        n = int(input("Please the number of different fields you have "))
        break
    except ValueError:
         print("Please input an actual number")
a = 0
list_farmnames = []
while a < n:
    a = a + 1
    aux_field = input("Enter the name of the field:")
    list_farmnames.append(aux_field)
    
list_farmnames

farmdata = pd.DataFrame(columns = [list_farmnames])
farmdata = farmdata.T
farmdata

Please the number of different fields you have 3
Enter the name of the field:q
Enter the name of the field:w
Enter the name of the field:e

Empty DataFrame
Columns: []
Index: [(q,), (w,), (e,)]

In [5]:
list_numberofcows = []
for i in list_farmnames:
    aux_cownumber = (input("Please enter the number of cows in {}: ".format(i)))
    list_numberofcows.append(aux_cownumber)
    
farmdata['number of cows'] = list_numberofcows
farmdata

Please enter the number of cows in q: 1
Please enter the number of cows in w: 3
Please enter the number of cows in e: 3

  number of cows
q              1
w              3
e              3

In [6]:
input1 = input("Want to change a cell? Enter 'yes'. If you do not wish to change a cell, write 'no':")
if input1 in ['no', 'No', 'NO', 'nO']:
    print ("Thank you, no cells will be changed")
else:
    input2 = input("Input the exact contents of the cell you wish to change:")
    input3 = input("Input what you wish the contents of the cell to be changed to:")
farmdata.replace(input2, input3)

Want to change a cell? Enter 'yes'. If you do not wish to change a cell, write 'no':yes
Input the exact contents of the cell you wish to change:3
Input what you wish the contents of the cell to be changed to:2

  number of cows
q              1
w              2
e              2