In [1]:
import ipywidgets as widgets
import pandas as pd

In [2]:
#Here we enter number of fields we have
while True:
    try:
        n = int(input("Please enter the number of different fields you have: "))
        break
    except ValueError:
         print("Please input an actual number")

#Here we name the fields
a = 0
list_farmnames = []
while a < n:
    a = a + 1
    aux_field = input("Enter the name of the field: ")
    list_farmnames.append(aux_field)

#Now we create the empty datasets
dates = pd.date_range(start='20190301', end='20190331', freq='D', name='Number of Days')
column3 = []
column2 = []
column1 = [] 


for i in range(31):
    column1.append(0)
    column2.append(0)
    column3.append(0)

#Here we create the dataframes and set index and name columns etc.
    
for i in list_farmnames:    
    d = {'Grazing': column1, 'Cutting': column2, "Manure": column3, "Dates": dates}
    df = pd.DataFrame(data=d)
    exec('{} = pd.DataFrame(data=d)'.format(i))

list_farms = []
for i in list_farmnames:
    exec("list_farms.append({})".format(i))   

for x in list_farms:
    x.set_index(['Dates'], inplace=True)

Please enter the number of different fields you have: 2
Enter the name of the field: q
Enter the name of the field: w

In [6]:
#display created dataframs
for i in list_farms:
    display(i)

            Grazing  Cutting  Manure
Dates
2019-03-01        0        0       0
2019-03-02        0        0       0
2019-03-03        0        0       0
2019-03-04        0        0       0
2019-03-05        0        0       0
2019-03-06        0        0       0
2019-03-07        0        0       0
2019-03-08        0        0       0
2019-03-09        0        0       0
2019-03-10        0        0       0
2019-03-11        0        0       0
2019-03-12        0        0       0
2019-03-13        0        0       0
2019-03-14        0        0       0
2019-03-15        0        0       0
2019-03-16        0        0       0
2019-03-17        0        0       0
2019-03-18        0        0       0
2019-03-19        0        0       0
2019-03-20        0        0       0
2019-03-21        0        0       0
2019-03-22        0        0       0
2019-03-23        0        0       0
2019-03-24        0        0       0
2019-03-25        0        0       0
2019-03-26        0        0       0
2019-03-27        0        0       0
2019-03-28        0        0       0
2019-03-29        0        0       0
2019-03-30        0        0       0
2019-03-31        0        0       0

            Grazing  Cutting  Manure
Dates
2019-03-01        0        0       0
2019-03-02        0        0       0
2019-03-03        0        0       0
2019-03-04        0        0       0
2019-03-05        0        0       0
2019-03-06        0        0       0
2019-03-07        0        0       0
2019-03-08        0        0       0
2019-03-09        0        0       0
2019-03-10        0        0       0
2019-03-11        0        0       0
2019-03-12        0        0       0
2019-03-13        0        0       0
2019-03-14        0        0       0
2019-03-15        0        0       0
2019-03-16        0        0       0
2019-03-17        0        0       0
2019-03-18        0        0       0
2019-03-19        0        0       0
2019-03-20        0        0       0
2019-03-21        0        0       0
2019-03-22        0        0       0
2019-03-23        0        0       0
2019-03-24        0        0       0
2019-03-25        0        0       0
2019-03-26        0        0       0
2019-03-27        0        0       0
2019-03-28        0        0       0
2019-03-29        0        0       0
2019-03-30        0        0       0
2019-03-31        0        0       0

In [15]:
#Takes user input to edit a specific cell
changecellinput = input("Do you wish to change a cell? Enter yes/no: ")
if changecellinput in ['no', 'No', 'NO', 'nO']:
    print ("Thank you, no cells will be changed")
else:
    inputframe = input("What field would you like to change a cell in? Enter the name: ")
    inputdate = input("Enter the date you wish to change in the year-month-day format (ex: 2019-03-01): ")
    inputaction = input("Enter the action corresponding to the cell you wish to change (ex: Grazing): ")
    inputchange = input("Enter what you wish to change the contents of the cell to: ")
    exec('{}.loc[inputdate,inputaction]=inputchange'.format(inputframe))
exec("display({})".format(inputframe))

Do you wish to change a cell? Enter yes/no: yes
What field would you like to change a cell in? Enter the name: q
Enter the date you wish to change in the year-month-day format (ex: 2019-03-01): 2019-03-01
Enter the action corresponding to the cell you wish to change (ex: Grazing): Grazing
Enter what you wish to change the contents of the cell to: 10

           Grazing  Cutting  Manure
Dates
2019-03-01      10        0       0
2019-03-02       0        0       0
2019-03-03       0        0       0
2019-03-04       0        0       0
2019-03-05       0        0       0
2019-03-06       0        0       0
2019-03-07       0        0       0
2019-03-08       0        0       0
2019-03-09       0        0       0
2019-03-10       0        0       0
2019-03-11       0        0       0
2019-03-12       0        0       0
2019-03-13       0        0       0
2019-03-14       0        0       0
2019-03-15       0        0       0
2019-03-16       0        0       0
2019-03-17       0        0       0
2019-03-18       0        0       0
2019-03-19       0        0       0
2019-03-20       0        0       0
2019-03-21       0        0       0
2019-03-22       0        0       0
2019-03-23       0        0       0
2019-03-24       0        0       0
2019-03-25       0        0       0
2019-03-26       0        0       0
2019-03-27       0        0       0
2019-03-28       0        0       0
2019-03-29       0        0       0
2019-03-30       0        0       0
2019-03-31       0        0       0